---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.svelte'
import Competency from '../sections/Competency.svelte'
import WorkExperience from '../sections/WorkExperience.svelte'
import Showcase from '../sections/Showcase.svelte'
import Contact from '../sections/Contact.svelte'
import Footer from '../sections/Footer.svelte'
import Education from '../sections/Education.svelte'
---

<Layout>
	<main class="max-w-screen-lg mx-auto px-3 font-body">
		<Hero client:load />
		<div class=" space-y-24 md:space-y-32">
			<Competency />
			<WorkExperience />
			<Education />
			<Showcase />
			<Contact />
			<Footer />
		</div>
	</main>	
</Layout>
