<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Withee Poositasai</title>

    <meta
      name="description"
      content="An indie developer and generalist enthusiasm who value a meaningful impact"
    />
    <meta property="og:image" content="https://th1nkk1d.xyz/og-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />

    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          async
          type="module"
          data-entity="th1nkk1d.xyz"
          src="https://analytics.th1nkk1d.xyz/script.js">
        </script>
      )
    }

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
